# Dependencies will use exact versions not semver range operator.
# See: https://docs.npmjs.com/cli/v8/using-npm/config#save-exact
save-exact=true

# Force node/npm version checks.
# See: https://docs.npmjs.com/cli/v8/using-npm/config#engine-strict
engine-strict=true